/* Hay que entender que los CSS son similares a la programación orientada a objetos, 
tienen herencia y similares, lo que nos ayuda a poder definir los basicos e ir heredando y 
ampliando segun lo que necesitemos, de esta forma podemos modificar un objeto sin cambiar nada de los padres y sin romper las cosas.
Te hago los ejemplos y continuas con los que quedan */

/* Definicion de las imagenes en seccion columna 1 */
.col1  .sin_borde {
	margin-bottom: 2%;
}
.col1  .con_borde {
	border: 1px solid grey;
	margin-bottom: 2%;
	padding:2%;
}
.col1  .fondo_gris {
	background-color: rgba(230,230,230,1);    
	margin-bottom: 2%;
	padding: 2%;
}

/* Definicion de las imagenes en portada columna 2 */
.col2 .sin_borde {
	margin-bottom: 2%;
}
.col2 .con_borde {
	border: 1px solid grey;
	margin-bottom: 2%;
	padding:2%;
}
.col2 .fondo_gris {
	background-color: #D4D5D7;    
	margin-bottom: 2%;
	padding: 2%;
} 
/*  Secciones */

/* Definicion de la fuente para el nombre de los autores y la fecha de publicacion columna 1 */
.col1 .portada_con_recorrido_col1 .normal_font_1, .col1 .portada_sin_recorrido_col1 .normal_font_1, .col1 .portada_sin_recorrido_foto_col1 .normal_font_1 {
	font-family: Arial;
	font-weight: 400;
	font-style: normal;
	font-size: 11px;
	margin-top: -5px;
	margin-bottom: 12px;
}

/* Definicion de la fuente para el pie de las fotos columna 1 */
.col1 .portada_sin_recorrido_foto_col1 .normal_font_2{
	font-family: "Source Sans Pro";
	font-weight: 400;
	font-style: normal;
	font-size: 11px;
	line-height: 14px;
	border-bottom: 1px dotted #888;  
	margin-bottom: 3px;
}

/* Definicion de la fuente para la entradilla columna 1 */
.col1 .portada_con_recorrido_col1 .semibold_font_1, .col1 .portada_sin_recorrido_col1 .semibold_font_1, .col1 .portada_sin_recorrido_foto_col1 .semibold_font_1 {
	font-family: Arial;
	font-weight: 400;
	font-style: normal;
	font-size: 15px;
	line-height: 18px;

}
/* Definicion de la fuente del titular columna 1 */
.col1 .portada_con_recorrido_col1 .semibold_font_2, .col1 .portada_sin_recorrido_col1 .semibold_font_2, .col1 .portada_sin_recorrido_foto_col1 .semibold_font_2 {
	font-family: "Source Serif Pro";
	font-weight: 400;
	font-style: normal;
	font-size: 29px;
	line-height: 29px;
	letter-spacing: -0.7px;
}

/* Definicion de la fuente de las secciones columna 1 */
.col1 .portada_con_recorrido_col1 .semibold_font_3, .col1 .portada_sin_recorrido_col1 .semibold_font_3, .col1 .portada_sin_recorrido_foto_col1 .semibold_font_3 {
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-style: normal;
	font-size: 15px;
}

/* Definicion de la fuente para el nombre de los autores y la fecha de publicacion columna 2 */
.col2 .portada_con_recorrido_col2 .normal_font_1, .col1 .portada_sin_recorrido_col2 .normal_font_1, .col1 .portada_sin_recorrido_foto_col2 .normal_font_1  {
	font-family: Arial;
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
}

/* Definicion de la fuente para el pie de las fotos columna 2 */
.col2 .portada_sin_recorrido_foto_col2 .normal_font_2{
	font-family: "Source Sans Pro";
	font-weight: 400;
	font-style: normal;
	font-size: 11px;
	line-height: 14px;
	border-bottom: 1px dotted #888;  
	margin-bottom: 3px;
}

/* Definicion de la fuente para la entradilla columna 2 */
.col2 .portada_con_recorrido_col2 .semibold_font_1, .col2 .portada_sin_recorrido_col2 .semibold_font_1, .col2 .portada_sin_recorrido_foto_col2 .semibold_font_1 {
	font-family: Arial;
	font-weight: 400;
	font-style: normal;
	font-size: 15px;
	line-height: 18px;

}
/* Definicion de la fuente del titular columna 2 */
.col2 .portada_con_recorrido_col2 .semibold_font_2, .col2 .portada_sin_recorrido_col2 .semibold_font_2, .col2 .portada_sin_recorrido_foto_col2 .semibold_font_2 {
	font-family: "Source Serif Pro";
	font-weight: 400;
	font-style: normal;
	font-size: 29px;
	line-height: 29px;
	letter-spacing: -0.7px;
}

/* Definicion de la fuente de las secciones columna 2 */
.col2 .portada_con_recorrido_col2 .semibold_font_3, .col2 .portada_sin_recorrido_col2 .semibold_font_3, .col2 .portada_sin_recorrido_foto_col2 .semibold_font_3 {
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-style: normal;
	font-size: 15px;
	padding-top: 2%;
}


/*Secciones Col1  */

/* Definicion de la fuente para el nombre de los autores y la fecha de publicacion columna 1 */
.col1 .seccion_con_recorrido_col1 .normal_font_1, .col1 .seccion_sin_recorrido_col1 .normal_font_1, .col1 .seccion_sin_recorrido_foto_col1 .normal_font_1  {
	font-family: Arial;
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
}

/* Definicion de la fuente para el pie de las fotos columna 1 */
.col1 .seccion_sin_recorrido_foto_col1 .normal_font_2{
	font-family: "Source Sans Pro";
	font-weight: 400;
	font-style: normal;
	font-size: 11px;
	line-height: 14px;
	border-bottom: 1px dotted #888;
	margin-bottom: 2px;
}

/* Definicion de la fuente para la entradilla columna 1 */
.col1 .seccion_con_recorrido_col1 .semibold_font_1, .col1 .seccion_sin_recorrido_col1 .semibold_font_1, .col1 .seccion_sin_recorrido_foto_col1 .semibold_font_1 {
	font-family: Arial;
	font-weight: 400;
	font-style: normal;
	font-size: 15px;
	line-height: 18px;

}
/* Definicion de la fuente del titular columna 1 */
.col1 .seccion_con_recorrido_col1 .semibold_font_2, .col1 .seccion_sin_recorrido_col1 .semibold_font_2, .col1 .seccion_sin_recorrido_foto_col1 .semibold_font_2 {
	font-family: "Source Serif Pro";
        font-weight: 400;
        font-style: normal;
        font-size: 29px;
        line-height: 29px;
        letter-spacing: -0.7px;
}

/* Definicion de la fuente de las secciones columna 1 */
.col1 .seccion_con_recorrido_col1 .semibold_font_3, .col1 .seccion_sin_recorrido_col1 .semibold_font_3, .col1 .seccion_sin_recorrido_foto_col1 .semibold_font_3 {
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-style: normal;
	font-size: 15px;
	padding-top: 2%;
}

/* Secciones Col2 */

/* Definicion de la fuente para el nombre de los autores y la fecha de publicacion columna 2 */
.col2 .seccion_con_recorrido_col2 .normal_font_1, .col2 .seccion_sin_recorrido_col2 .normal_font_1, .col2 .seccion_sin_recorrido_foto_col2 .normal_font_1  {
	font-family: Arial;
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
}

/* Definicion de la fuente para el pie de las fotos columna 2 */
.col2 .seccion_sin_recorrido_foto_col2 .normal_font_2{
	font-family: "Source Sans Pro";
	font-weight: 400;
	font-style: normal;
	font-size: 11px;
	line-height: 14px;
	border-bottom: 1px dotted #888;  
	margin-bottom: 2px;
}

/* Definicion de la fuente para la entradilla columna 2 */
.col2 .seccion_con_recorrido_col2 .semibold_font_1, .col2 .seccion_sin_recorrido_col2 .semibold_font_1, .col2 .seccion_sin_recorrido_foto_col2 .semibold_font_1 {
	font-family: Arial;
	font-weight: 400;
	font-style: normal;
	font-size: 15px;
	line-height: 18px;

}
/* Definicion de la fuente del titular columna 2 */
.col2 .seccion_con_recorrido_col2 .semibold_font_2, .col2 .seccion_sin_recorrido_col2 .semibold_font_2, .col2 .seccion_sin_recorrido_foto_col2 .semibold_font_2 {
	font-family: "Source Serif Pro";
        font-weight: 400;
        font-style: normal;
        font-size: 29px;
        line-height: 29px;
        letter-spacing: -0.7px;
}

/* Definicion de la fuente de las secciones columna 2 */
.col2 .seccion_con_recorrido_col2 .semibold_font_3, .col2 .seccion_sin_recorrido_col2 .semibold_font_3, .col2 .seccion_sin_recorrido_foto_col2 .semibold_font_3 {
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-style: normal;
	font-size: 15px;
	padding-top: 2%;
}  


/* Subseccion Col1*/
/* Definicion de la fuente para el nombre de los autores y la fecha de publicacion columna  */
.col1 .subseccion_con_recorrido_col1 .normal_font_1, .col1 .subseccion_sin_recorrido_col1 .normal_font_1, .col1 .subseccion_sin_recorrido_foto_col1 .normal_font_1  {
	font-family: Arial;
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
}

/* Definicion de la fuente para la entradilla columna 2 */
.col1 .subseccion_con_recorrido_col1 .semibold_font_1, .col1 .subseccion_sin_recorrido_col1 .semibold_font_1, .col1 .subseccion_sin_recorrido_foto_col1 .semibold_font_1 {
	font-family: Arial;
	font-weight: 600;
	font-style: normal;
	font-size: 15px;
	line-height: 18px;

}
/* Definicion de la fuente del titular columna 2 */
.col1 .subseccion_con_recorrido_col1 .semibold_font_2, .col1 .subseccion_sin_recorrido_col1 .semibold_font_2, .col1 .subseccion_sin_recorrido_foto_col1 .semibold_font_2 {
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-style: normal;
	font-size: 24px;
	line-height: 26px;
}

/* Definicion de la fuente de las secciones columna 2 */
.col1 .subseccion_con_recorrido_col1 .semibold_font_3, .col1 .subseccion_sin_recorrido_col1 .semibold_font_3, .col1 .subseccion_sin_recorrido_foto_col1 .semibold_font_3 {
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-style: normal;
	font-size: 15px;
	padding-top: 2%;
}

/* Subsecion Col2*/
/* Definicion de la fuente para el nombre de los autores y la fecha de publicacion columna 2 */
.col2 .subseccion_con_recorrido_col2 .normal_font_1, .col2 .subseccion_sin_recorrido_col2 .normal_font_1, .col2 .subseccion_sin_recorrido_foto_col2 .normal_font_1  {
	font-family: Arial;
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
}

/* Definicion de la fuente para la entradilla columna 2 */
.col2 .subseccion_con_recorrido_col2 .semibold_font_1, .col2 .subseccion_sin_recorrido_col2 .semibold_font_1, .col2 .subseccion_sin_recorrido_foto_col2 .semibold_font_1 {
	font-family: Arial;
	font-weight: 600;
	font-style: normal;
	font-size: 15px;
	line-height: 18px;

}
/* Definicion de la fuente del titular columna 2 */
.col2 .subseccion_con_recorrido_col2 .semibold_font_2, .col2 .subseccion_sin_recorrido_col2 .semibold_font_2, .col2 .subseccion_sin_recorrido_foto_col2 .semibold_font_2 {
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-style: normal;
	font-size: 24px;
	line-height: 26px;
}

/* Definicion de la fuente de las secciones columna 2 */
.col2 .subseccion_con_recorrido_col2 .semibold_font_3, .col2 .subseccion_sin_recorrido_col2 .semibold_font_3, .col2 .subseccion_sin_recorrido_foto_col2 .semibold_font_3 {
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-style: normal;
	font-size: 15px;
	padding-top: 2%;
}
