/* Añadir los CSS correspondientes a los textos de los articulos */

/* Texto del cuerpo del articulo */
.col1 .articulo_recorrido_col1 .texto_articulo p, .col1 .articulo_estandar_col1 .texto_articulo p{
  font-family: Arial;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  line-height: 19px;
}

/* Fuente autor y publicacion del articulo */ 
.col1 .articulo_recorrido_col1 .normal_font_1, .col1 .articulo_estandar_col1 .normal_font_1 {
	font-family: Arial;
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
}

.col1 .articulo_recorrido_col1 .normal_font_2, .col1 .articulo_estandar_col1 .normal_font_2{
	font-family: "Source Sans Pro";
	font-weight: 400;
	font-style: normal;
	font-size: 11px;
	line-height: 14px;
	border-bottom: 1px dotted #888;  
}

/* Fuente de la entradilla del articulo */
.col1 .articulo_recorrido_col1 .semibold_font_1, .col1 .articulo_estandar_col1 .semibold_font_1{
	font-family: Arial;
	font-weight: 600;
	font-style: normal;
	font-size: 16px;
	line-height: 20px;
	color: rgba(95,95,95,1);
}

/* Fuente del titular del articulo */
.col1 .articulo_recorrido_col1 .semibold_font_2, .col1 .articulo_estandar_col1 .semibold_font_2{
	font-family: "Source Serif Pro";
	font-weight: 400;
	font-style: normal;
	font-size: 34px;
	line-height: 38px;
	letter-spacing: -0.7px;
}

/* Fuente de la seccion del articulo */
.col1 .articulo_recorrido_col1 .semibold_font_3, .col1 .articulo_estandar_col1 .semibold_font_3 {
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-style: normal;
	font-size: 15px;
	padding-top: 2%;
}

/* Podemos, por como va el asunto, dividir los CSS para portada, seccion y subseccion de articulos en cada uno de estos tipos, 
de esta forma, en caso de modificarlos son faciles de encontrar */
