/* posicion del stack de la imagenes que tienen lightbox */
.col1 .portada_con_recorrido_col1 .contenedor_imagen .icono{
  position: relative;
  width: 30px;  
  bottom:28px;
  left: 10px;
  padding: 2px;
  background-color: white;
  margin-bottom: -24px;
  z-index: 2;
}

/* el icono en la parte inferior derecha en la imagenes de sin  recorrido con foto*/
.col1 .portada_sin_recorrido_foto_col1 .img_sin_foto .contenedor_imagen .icono{
  position: relative;
  width: 30px;
  bottom:28px;
  left: 10px;
  padding: 2px;
  background-color: white;
  margin-bottom: -24px;
  z-index: 2;
}

/*  esta es para las imagenes de la columna 2*/
.col2 .portada_sin_recorrido_foto_col2 .contenedor_imagen .icono{
  position: relative;
  width: 30px;  
  bottom:28px;
  left: 10px;
  padding: 2px;
  background-color: white;
  margin-bottom: -24px;
  z-index: 2;
}

/*Iconos para las secciones*/

.col1 .seccion_con_recorrido_col1 .contenedor_imagen .icono{
  position: relative;
  width: 30px;  
  bottom:28px;
  left: 10px;
  padding: 2px;
  background-color: white;;
  margin-bottom: -24px;
  z-index: 2; 
}

.col1 .seccion_sin_recorrido_foto_col1 .contenedor_imagen .icono{
  position: relative;
  width: 30px;  
  bottom:28px;
  left: 10px;
  padding: 2px;
  background-color: white;
  margin-bottom: -24px;
  z-index: 2; 
}

.col2 .seccion_con_recorrido_col2 .contenedor_imagen .icono{
  position: relative;
  width: 30px;  
  bottom:28px;
  left: 10px;
  padding: 2px;
  background-color: white;
  margin-bottom: -24px;
  z-index: 2;    
}

.col2 .seccion_sin_recorrido_foto_col2 .contenedor_imagen .icono{
  position: relative;
  width: 30px;  
  bottom:28px;
  left: 10px;
  padding: 2px;
  background-color: white;
  margin-bottom: -24px;
  z-index: 2; 
}

/* Icono para las subsecciones */

.col1 .subseccion_con_recorrido_col1 .contenedor_imagen .icono{
  position: relative;
  width: 30px;  
  bottom:28px;
  left: 10px;
  padding: 2px;
  background-color: white;
  margin-bottom: -24px;
  z-index: 2; 
}

.col1 .articulo_recorrido_col1 .contenedor_imagen .icono{
  position: relative;
  width: 30px;  
  bottom:28px;
  left: 10px;
  padding: 2px;
  background-color: white;
  margin-bottom: -24px;
  z-index: 2;   
}

.col1 .articulo_estandar_col1 .contenedor_imagen .icono{
  position: relative;
  width: 30px;  
  bottom:28px;
  left: 10px;
  padding: 2px;
  background-color: white;
  margin-bottom: -24px;
  z-index: 2; 
}
