a{
  color: black;
}
/* pinta el borde que sapara las columna 1 de la 2 */
.content .col1{
  border-right: 1.5px solid #BDBDBD;
}

/* pinta el borde que sapara las columna 2 de la 3 */
.content .col2{
  border-right: 1.5px solid #BDBDBD;
}

.content .col1 .portada_con_recorrido_col1 img, .content .col2 .portada_con_recorrido_col2 img, .content .col1 .portada_sin_recorrido_foto_col1 img,
.content .col2 .portada_sin_recorrido_foto_col2 img, .content .col1 .seccion_con_recorrido_col1 img, .content .col2 .seccion_con_recorrido_col2 img,
.content .col1 .seccion_sin_recorrido_foto_col1 img, .content .col2 .seccion_sin_recorrido_foto_col2 img, .content .col1 .subseccion_con_recorrido_col1 img,
.content .col1 .articulo_estandar_col1 img, .content .col3 img{
	width: 100%;
	max-width: 100;
}
