.menu_secciones {
  border-bottom: solid 1px;
  font-family:Verdana;
  font-weight:bold;
}
.menu_secciones li{ 
  padding: 0 1em 0 1em;   
  text-align: center;
  margin-bottom: 4px;
  
}

.menu_secciones li a{
  text-decoration: none;
  color: black;
}

/* bordes y colores del menu de secciones */
.menu_secciones .nav_1 {
  border-bottom: 4px solid #930DA1;
}
.menu_secciones .nav_2 {
  border-bottom: 4px solid #42BF59;
}
.menu_secciones .nav_3 {
  border-bottom: 4px solid #5D91F0; 
}
.menu_secciones .nav_4 {
  border-bottom: 4px solid #EBAB2A;
}
.menu_secciones .nav_5 {
  border-bottom: 4px solid #C31019;
}
.menu_secciones .nav_6 {
  border-bottom: 4px solid #825419; 
}
.menu_secciones .nav_7 {
  border-bottom: 4px solid #F2DD1B; 
}
.menu_secciones .nav_8 {
  border-bottom: 4px solid #6E1406; 
}
.menu_secciones .nav_9 {
  border-bottom: 4px solid #F136D8; 
}

.menu_secciones .nav_1:hover, .menu_secciones .nav_2:hover, .menu_secciones .nav_3:hover, .menu_secciones .nav_4:hover, .menu_secciones .nav_5:hover,
.menu_secciones .nav_6:hover, .menu_secciones .nav_7:hover, .menu_secciones .nav_8:hover{
  border-bottom-width: 8px;
  margin-bottom: -8px; /* Si gano 8, he de quitar 8 */
}

/* se aplica un border mas grueso en la seccion en la que se encuentra */
.menu_secciones .estoy{
  border-bottom-width: 8px;
  margin-bottom: 0px; /* Aqui ponemos 0 porque sino sumamos a los 8 anteriores y se hace la picha un lio */
}
