li{
	display: inline-block;
	list-style-type: none;
}

li a{
	text-decoration: none;
	color: black;
}

a img:hover{
	opacity: 0.3;
}

hr {
	border: 1px solid #BDBDBD; 
}

.nav_1{
	color: #930DA1;
}
.nav_2{
	color: #42BF59;
}
.nav_3{
	color: #5D91F0;	
}
.nav_4{
	color: #EBAB2A;
}
.nav_5{
	color: #C31019;
}
.nav_6{
	color: #825419;	
}
.nav_7{
	color: #F2DD1B;	
}
.nav_8{
	color: #6E1406;	
}
.nav_9{
	color: #F136D8;	
}

.datos_articulos{
	color: red;
}

